test-output/

src/test/resources/reportSpark.html
src/test/java/StepDefinitions/
src/test/resources/Features/

target/test-classes/Features/
target/test-classes/StepDefinitions/
target/test-classes/reportSpark.html
